.section-5 {
    width: 100%;
    height: 100vh;
    padding: 30px 50px;
    background-color: rgba(228, 225, 220, 0.295);

    p {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        color: #8A898E;
    }

    h1 {
        font-weight: bold;
        font-size: 52px;
        color: #0B1B35;
        text-align: center;
    }

    .text-img {
        display: flex;
        align-items: center;
        margin-top: 80px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            p {
                font-weight: normal;
                font-size: 18px;
                text-align: left;
            }

            input {
                width: 700px;
                height: 77px;
                padding: 24px 64px;
                border-radius: 50px;
                border: 2px solid black;
            }

            a {
                width: 700px;
                height: 49px;
                background: #FF6600;
                border-radius: 10px;
                text-decoration: none;
                color: white;
                padding-top: 11px;
                text-align: center;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}